* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #FFF7E8;
    padding-top: 100px;
}

tbody tr th {
    color: #000;
    border-bottom: 1px solid #5BA6A6;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 35px;
    margin-right: 16px;
}

header h1 {
    font-size: 60px;
    font-weight: bold;
    font-variant: small-caps;
    color: #5BA6A6;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 18px;
    background-color: #FFF;
    border: none;
    border-bottom: 2px solid #5BA6A6;
    padding: 8px;
}

form button {
    background-color: #F2935C;
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #F27798;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #F27798;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    color: #0D0D0D;
    border-bottom: 1px solid #B5E8E0;
}

footer {
    padding: 24px;
    background-color: #5BA6A6;
    color: #FFF;
    text-align: center;
}